.htaccess
uploads/
blogs.dir/
upgrade/
backup-db/
themes/twentyeleven/
themes/twentyfourteen/
themes/twentyten/
themes/twentythirteen/
themes/twentytwelve/
themes/index.php
plugins/hello.php
plugins/index.php
advanced-cache.php
wp-cache-config.php
sitemap.xml
*.log
cache/
backups/
sitemap.xml.gz
wp-config.php
